apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-http-app
  labels:
    app: go-http-app
    tier: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      tier: backend
  template:
    metadata:
      labels:
        tier: backend
    spec: 
      containers:
        - name: go-http-app
          image: wesleywillians/hello-go:v5 # This image have the fields "NAME" & "AGE" & a file injection on myfamily/family.txt
          envFrom:
            - configMapRef:
                name: go-http-app-env
          volumeMounts:
            - mountPath: "/go/myfamily"
              name: file-injection
      volumes:
        - name: file-injection
          configMap:
            name: configmap-app-injection
            items:
              - key: config
                path: family.txt
