apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-http-app
  namespace: server
  labels:
    app: go-http-app
    tier: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      tier: backend
  template:
    metadata:
      labels:
        tier: backend
    spec: 
      containers:
        - name: go-http-app
          image: wesleywillians/hello-go:v9.6 
          resources:
            requests:
              cpu: "0.03"
              memory: 20Mi
            limits:
              cpu: "0.035"
              memory: 25Mi
          
          startupProbe: # This will BLOCK the readiness and liveness until the StartupProbe is done
            httpGet: 
              path: /healthz 
              port: 8000 # Should be the CONTAINER port
            periodSeconds: 2
            failureThreshold: 10

          readinessProbe:
            httpGet: 
              path: /healthz 
              port: 8000 # Should be the CONTAINER port
            periodSeconds: 3 
      
          livenessProbe:
            httpGet: # HTTP strategy (or container command or tcp connection)
              path: /healthz # Created on Go server (docker image)
              port: 8000 # Should be the CONTAINER port
            periodSeconds: 5 # Liveness check frequecy
            failureThreshold: 2 # How many times must to fail until be consider as failed

          envFrom:
            - configMapRef:
                name: configmap-app-env
            - secretRef:
                name: secret-app
          volumeMounts:
            # Generic example of File Injection
            - mountPath: "/go/myfamily"
              name: file-injection
            # Generic example of Persistent Volume
            - mountPath: "/go/persistence"
              name: persistent-volume
            # Here we inject a script to test ServiceAccount (Access to k8s API->LIST_PODS)
            - mountPath: "/go/test-serviceaccount"
              name: inject-test-api-k8s-script
      volumes:
        - name: persistent-volume
          persistentVolumeClaim:
            claimName: example-pvc
        - name: file-injection
          configMap:
            name: configmap-app-injection
            items:
              - key: config
                path: family.txt
        - name: inject-test-api-k8s-script
          configMap:
            name: test-api-k8s-script
            items:
              - key: script
                path: test-k8s-api-access.sh
