apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-http-app
  labels:
    app: go-http-app
    tier: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      tier: backend
  template:
    metadata:
      labels:
        tier: backend
    spec: 
      containers:
        - name: go-http-app
          image: wesleywillians/hello-go:v4 # This image have the fields "NAME" & "AGE"
          env:
            - name: NAME
              valueFrom:
                configMapKeyRef:
                  key: NAME
                  name: go-http-app-env
            - name: AGE
              valueFrom:
                configMapKeyRef:
                  key: AGE
                  name: go-http-app-env
